@import "vivify"
@import "variables"
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;800&display=swap')

$background_color: rgba(37, 44, 55, 1)
$general_font: 'Raleway', sans-serif
$blue_styling_color: #7fd4e8
$red_styling_color: #CC544E
$border: 1.5px solid #7fd4e8
$button_radius: 60px
$button_radius_mobile: 30px
$breakpoint_tablet: 768px


%footer_and_header
  position: absolute
  width: 100%

%all_design_footer_header
  position: absolute
  height: 32px

%left_right_design
  width: 212.6153846154px
  background-size: contain
  background-repeat: no-repeat
  background-color: $background_color

\:root
  font-size: 10px

body
  font-family: $general_font
  font-weight: normal
  font-style: normal
  color: #ffffff
  background-color: $background_color
  margin-top: 70px


a
  margin-top: 10px
  color: #ffffff

h1, h2, h5
  font-weight: bold
  padding-bottom: 20px

.page-name
  font-size: var(--small-titles-desktop)
  padding-bottom: 25px
  font-weight: bold

.middle-content
  min-height: 83vh
  padding-bottom: 70px

.red-colored
  color: $red_styling_color

@media screen and (max-width: 1025px)
  .desktop-only
    display: none !important

  body
    height: 100%
    padding: 70px 20px 0 20px
    margin-top: 0

  .scrolling-view
    .left-desc-mobile
      text-align: center
      padding-left: 10px
      padding-right: 10px




  .log-and-reg
    text-align: center
    align-items: center

  .button-reg-log
    border-radius: 30px
    background-color: Transparent
    background-repeat: no-repeat
    box-shadow: 0px 0px 5px #000000
    color: #ffffff
    font-weight: bold
    font-size: 10px
    padding: 12px 40px 10px 40px
    border: solid #7fd4e8 3px
    text-decoration: none
    text-align: center

  .page-name
    font-size: var(--small-titles-tablet)
    margin-left: 0
    margin-right: auto

  .left-desc, .right-desc
    text-align: center
    padding-left: 20px
    padding-right: 20px

@media screen and (max-width: 768px)
  .page-name
    font-size: var(--small-titles-mobile)
    margin-left: 10px

@media screen and (min-width: 768px)
  .mobile-only
    display: none !important

@media screen and (max-width: 768px)
  .tablet-and-dekstop-only
    display: none !important


//Buttons

.button
  outline: none
  overflow: hidden
  border-radius: 30px
  background-color: Transparent
  background-repeat: no-repeat
  box-shadow: 0px 0px 5px #000000
  color: #ffffff
  font-size: var(--text-desktop)
  padding: 6px 25px 5px 25px
  border: solid $blue_styling_color 3px
  text-decoration: none
  text-align: center
  margin-top: 10px
  margin-bottom: 10px
  z-index: 0
  transition: .2s transform ease-in-out
  @media screen and (max-width: 1024px)
    font-size: var(--text-tablet)
  @media screen and (max-width: 768px)
    font-size: var(--text-mobile)

  &:hover
    color: white
    background-color: $red_styling_color
    border-color: #ffffff
    -webkit-transition: all 0.2s ease-out
    -moz-transition: all 0.2s ease-out
    transition: all 0.2s ease-out

  &:before
    -webkit-animation: shine 0.5s 0s linear
    -moz-animation: shine 0.5s 0s linear
    animation: shine 0.5s 0s linear

  &:active
    box-shadow: 0 0 0 0 transparent
    -webkit-transition: box-shadow 0.2s ease-in
    -moz-transition: box-shadow 0.2s ease-in
    transition: box-shadow 0.2s ease-in





.button-reg-log
  border: solid #ffffff 3px
  background-color: $red_styling_color
  &:hover
    background-color: $background_color
    border-color: $blue_styling_color






.line-squared
  height: 3px
  width: 100px
  background-color: $red_styling_color
  border-radius: 3px
  margin-right: 15px
