body
  --big-titles-desktop: 3rem
  --small-titles-desktop: 2rem
  --text-desktop: 1.5rem

  --big-titles-tablet: 2.5rem
  --small-titles-tablet: 1.7rem
  --text-tablet: 1.3rem

  --big-titles-mobile: 2rem
  --small-titles-mobile: 1.3rem
  --text-mobile: 1rem
