@import "../../../stylesheets/variables"


.hack-future
  color: rgba(208, 214, 224, 0.6)
  text-align: right
  font-size: var(--small-titles-desktop)
  line-height: 1.1em
  position: relative
  margin-top: 10px
  margin-right: 10px
  z-index: 100
  float: right

.navbar-brand-image
  margin-top: -25px


.button-toggler
  margin-left: auto
  margin-right: 0
  color: white
  margin-bottom: -20px
  z-index: 1
  top: 0

.navbar-toggler
  border: none

.nav-link
  color: white !important
  font-family: $general_font
  margin-top: -15px
  font-size: var(--text-desktop)
  margin-right: 40px !important
  transition: 0.5s
  &:hover
    color: $red_styling_color !important
    font-weight: bold
  @media screen and (max-width: 1025px)
    margin-top: auto

.navbar-collapse
  margin-left: auto



.sidenav
  height: 100%
  width: 250px  /* 0 width - change this with JavaScript */
  position: fixed
  z-index: 1
  top: 0
  left: 0
  background-color: #ffffff
  overflow-x: hidden   /* Disable horizontal scroll */
  padding-top: 60px
  transition: 0.5s  /* 0.5 second transition effect to slide in the sidenav */
  a
    padding: 8px 8px 8px 32px
    text-decoration: none
    font-size: var(--small-titles-tablet)
    font-weight: bold
    color: $background_color
    display: block
    transition: 0.3s
    @media screen and (max-width: 768px)
      font-size: var(--small-titles-mobile)
    &:hover
      color: $red_styling_color
  .closebtn
    position: absolute
    top: 0
    right: 25px
    font-size: 36px
    margin-left: 50px


.user-circle
  margin-top: 5px
  width: 40px
  height: 40px
  background: $red_styling_color
  border-radius: 50%
  border: solid #7fd4e8 1.5px
  @media screen and (max-width: 1024px)
    width: 30px
    height: 30px
    margin-top: 10px
  @media screen and (max-width: 768px)
    width: 20px
    height: 20px
    margin-top: 10px



span
  @extend %text-size

.drop-toggle
  background-color: transparent
  border: none
  margin-right: 20px
  &:focus
    box-shadow: none !important
    color: transparent !important
    border: none !important

.drop-items
  @extend %text-size
  border: solid #7fd4e8 1.5px
  background-color: $background_color
  padding: 10px 20px 10px 20px
  font-weight: bold
  border-radius: 20px
  box-shadow: 0px 0px 10px #000000
  outline: none
  &:focus
    background-color: transparent
  .dropdown-item
    color: white
    transition: 0.3s
    &:hover
      background-color: transparent
      color: $red_styling_color
      font-weight: bold
    &:focus
      background-color: transparent
      color: $red_styling_color
    &:active
      background-color: transparent
      color: $red_styling_color

.dropdown-menu
  background-color: transparent
  outline: none
  border: none


.btn-secondary
  &:focus, &:hover
    color: transparent !important
    background-color: transparent !important
    border-color: transparent !important
    box-shadow: none !important

.arrow-up
  overflow: hidden
  position: relative
  border-radius: 20%
  transform: translateY(50%) rotate(30deg) skewY(30deg) scaleX(.866)
  width: 30px
  height: 30px
  background-color: transparent
  z-index: -1
  right: 0
  border-top:   solid #7fd4e8 1.5px
  margin: -5px 81% 10px


  &:before
    width: 30px
    height: 30px
    border-radius: 20% 20% 20% 53%
    transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%) skewX(30deg) scaleY(.866) translateX(-24%)
    position: absolute
    background: $background_color
    pointer-events: auto
    content: ''
    border: solid #7fd4e8 1.5px

  &:after
    width: 30px
    height: 30px
    border-radius: 20% 20% 53% 20%
    transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%) skewX(-30deg) scaleY(.866) translateX(24%)
    position: absolute
    background: $background_color
    pointer-events: auto
    content: ''
    border: solid #7fd4e8 1.5px

.user-name
  color: $background_color
  margin-bottom: 5px
